*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;
  
  }

  .header {
    position:relative;
    height: 75px;
    padding: 1rem;
    margin-left: 530px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .loginForm {
    border:2px solid black;
    position:absolute;
    width:300px;
    height:310px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .loginForm h2{
    text-align: center;
    margin: 30px;
  }
  
  .idForm{
    border-bottom: 2px solid black;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .passForm{
    border-bottom: 2px solid black;
    margin: 30px 30px 20px;
    padding: 10px 10px;
  }
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    width:30%;
    height:12%;
    background-color:black;
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    font-size: 15px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    display:block;
  }
  
  .btn:hover {
    background-color:rgb(110, 106, 106)
  }
  
  .bottomText {
    text-align: left;
  }